<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">ألبومات الصور</h4>
    </div>
    <div class="modal-body">
        <table ng-table="tableParams" show-filter="true" class="table table-striped" >
            <tr ng-repeat="item in $data" ng-show="isNewRelatedItem(item.id)">
                <td data-title="'م'" filter="{ 'newsItemId': 'text' }">
                    {{item.id}}
                </td>
                <td data-title="'العنون'" filter="{ 'title': 'text' }">
                    {{item.title}}
                </td>
                <td data-title="'التاريخ'" filter="{ 'publishedOn': 'text' }">
                    {{item.publishedOn |date:'yyyy-MM-dd'}}
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-success" ng-click="addRelatedItem(item)">إضافة</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-warning" ng-click="ok()">عودة</button>
    </div>
</div>
