
<div>
    <a href="javascript:" class="btn btn-info" ng-click="openRelatedInfographics()">{{title}}</a>
        <table ng-table="" class="table table-striped" ng-show="infographics.length">
            <tbody sv-root sv-part="infographics">
                <tr ng-repeat="item in infographics" sv-element>
                    <td data-title="'م'" >
                        {{$index+1}}
                    </td>
                    <td data-title="'العنون'" >
                        {{item.title}}
                    </td>
                    <td data-title="'التاريخ'" >
                        {{item.publishedOn |date:'yyyy-MM-dd'}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="infographics.splice($index,1)">إلغاء</button>
                    </td>
                </tr>
            </tbody>
        </table>
 </div>